@import '../../../common/style/var.less';

.vant-doc-navbar {
  display: flex;
  align-items: center;

  &__item {
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    color: @van-doc-black;
    margin-right: 10px;
    font-weight: bold;
    font-size: .9rem;

    &:hover, &:active, &:focus {
      background-color: #f3f6f9;
      color: #3e5060;
    }
  }
}