@import '../../common/style/var.less';

.doc-container {
  position: relative;
  box-sizing: border-box;
  padding-top: @van-doc-header-top-height;
  min-height: 100vh;

  &-markdown {
    flex: 1;
  }

  &--menu {
    padding-left: var(--mdoc-menu-width);
  }
}
