@import '../../common/style/var.less';
@import './code.less';

.doc-md-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
  position: relative;
  word-break: break-all;

  &__wrapper {
    margin: 0 auto;
    padding: 24px 30px;
    background-color: var(--mdoc-md-wrapper-background-color);
    border-radius: var(--radius-24);
  }

  @media (min-width: 1680px) {
    max-width: 50vw;
  }

  &--fluid {
    max-width: 100%;
  }

  &--blank {
    padding: 0;
    max-width: 100%;
    .doc-md-content__wrapper {
      border-radius: 0;
      background: none;
      padding: 0;
    }
  }

  &__meta {
    padding-top: 50px;
    font-size: 13px;
    opacity: 0.5;

    svg {
      width: 16px;
      vertical-align: sub;
    }
  }
}
