@import '../../../common/style/var.less';

.doc-navbar {
  &__item {
    padding: 0;
    height: @van-doc-header-top-height;
    color: var(--mdoc-navbar-link-color);
    margin-right: 32px;
    font-weight: bold;
    font-size: 0.95rem;
    position: relative;
    cursor: pointer;
    svg {
      vertical-align: sub;
      width: 18px;
      margin-left: 2px;
    }
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--mdoc-navbar-link-color);

    &--active,
    &:hover,
    &:active,
    &:focus {
      color: var(--c-blue-100);
    }
  }

  &__sublink {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    color: var(--mdoc-font-color-base);
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: 0.2rem;
    padding: 0.35rem 0.5rem;
    white-space: nowrap;
    &--active,
    &:hover,
    &:active,
    &:focus {
      color: var(--c-blue-100);
      background-color: var(--mdoc-menu-color-background-active);
    }

    svg {
      width: 18px !important;
    }
  }
}
