@import './root.less';
@import './var.less';

body {
  margin: 0;
  overflow-x: auto;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

:root {
  --scrollbar-width: 16px;
  --scrollbar-background: var(--mdoc-scrollbar-background);
  --scrollbar-padding: 4px;
  --scrollbar-radius: 8px;
}

body {
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    &-track {
      background: 0 0;
    }
    &-thumb {
      background: var(--scrollbar-background);
      background-clip: content-box;
      border: var(--scrollbar-padding) solid #0000;
      border-radius: var(--scrollbar-radius);
    }
  }
}

.mdoc-simulator--body {
  --scrollbar-width: 6px;
  --scrollbar-background: #dfe4ee;
  --scrollbar-padding: 0;
  --scrollbar-radius: 3px;
  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.doc-row {
  width: 100%;
  box-sizing: border-box;
}
