:root {
  --f-display: IonEina, 'Helvetica Neue', Helvetica, sans-serif;
  --f-text: Inter, 'Inter UI', Helvetica, Arial, sans-serif;
  --f-system: apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  --f-monospace: 'SF Mono', 'Roboto Mono', Menlo, monospace;
  --f-serif: 'Adobe Caslon', Georgia, Times, 'Times New Roman', serif;
  --f-pro: Söhne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --f-pro-mono: 'Söhne Mono', 'Roboto Mono', 'SF Mono', Menlo, monospace;
  --f-weight-light: 300;
  --f-weight-regular: 400;
  --f-weight-medium: 500;
  --f-weight-semibold: 600;
  --f-weight-bold: 700;
  --f-size-10: 0.625rem;
  --f-size-11: 0.6875rem;
  --f-size-12: 0.75rem;
  --f-size-13: 0.8125rem;
  --f-size-14: 0.875rem;
  --f-size-16: 1rem;
  --f-size-20: 1.25rem;
  --f-size-24: 1.5rem;
  --f-size-28: 1.75rem;
  --f-size-32: 2rem;
  --f-size-40: 2.5rem;
  --f-size-48: 3rem;
  --f-size-56: 3.5rem;
  --f-size-64: 4rem;
  --f-size-72: 4.5rem;
  --f-size-80: 5rem;
  --f-size-88: 5.5rem;
  --f-size-96: 6rem;
  --line-height-solid: 1;
  --line-height-title: 1.12;
  --line-height-body: 1.6;
  --line-height-prose: 1.8;
  --letter-spacing-dense: -0.04em;
  --letter-spacing-tight: -0.02em;
  --letter-spacing-solid: 0em;
  --letter-spacing-wide: 0.04em;
  --letter-spacing-super: 0.08em;
  --letter-spacing-extra: 0.16em;
  --space-0: 0rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-96: 6rem;
  --space-128: 8rem;
  --space-160: 10rem;
  --space-192: 12rem;
  --space-224: 14rem;
  --space-256: 16rem;
  --breakpoint-0: 40em;
  --breakpoint-1: 48em;
  --breakpoint-2: 64em;
  --breakpoint-3: 80em;
  --radius-0: 0px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-x: 1000px;
  --border-regular: 1px solid;
  --border-dashed: 1px dashed;
  --border-heavy: 2px solid;
  --shadow-0: 0 0 0 1px transparent;
  --shadow-1: 0 0 0 1px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  --shadow-3: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-4: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-5: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
  --shadow-6: 0 16px 32px -2px rgba(0, 0, 0, 0.1), 0 8px 16px -2px rgba(0, 0, 0, 0.08);
  --shadow-7: 0 32px 64px -4px rgba(0, 0, 0, 0.12), 0 12px 24px -2px rgba(0, 0, 0, 0.06);
  --shadow-8: 0 48px 96px -8px rgba(0, 0, 0, 0.16), 0 24px 48px -4px rgba(0, 0, 0, 0.08);
  --duration-instantly: 0s;
  --duration-quickly: 0.15s;
  --c-black: #000;
  --c-white: #fff;
  --c-blue-0: #d3e3fd;
  --c-blue-10: #e3edff;
  --c-blue-20: #cddfff;
  --c-blue-30: #b2ceff;
  --c-blue-40: #97bdff;
  --c-blue-50: #7cabff;
  --c-blue-60: #639bff;
  --c-blue-70: #4d8dff;
  --c-blue-80: #3880ff;
  --c-blue-90: #1b6dff;
  --c-blue-100: #3f45ff;
  --c-gray-0: #f3f3f3;
  --c-gray-10: #e4e4e4;
  --c-gray-20: #c8c8c8;
  --c-gray-30: #aeaeae;
  --c-gray-40: #959595;
  --c-gray-50: #818181;
  --c-gray-60: #6d6d6d;
  --c-gray-70: #5f5f5f;
  --c-gray-80: #474747;
  --c-gray-90: #2f2f2f;
  --c-gray-100: #141414;
  --c-carbon-0: #eef1f3;
  --c-carbon-10: #d7dde2;
  --c-carbon-20: #b4bcc6;
  --c-carbon-30: #98a2ad;
  --c-carbon-40: #7d8894;
  --c-carbon-50: #677483;
  --c-carbon-60: #556170;
  --c-carbon-70: #434f5e;
  --c-carbon-80: #35404e;
  --c-carbon-90: #222d3a;
  --c-carbon-100: #03060b;
  --c-indigo-0: #fbfbfd;
  --c-indigo-10: #f6f8fc;
  --c-indigo-20: #e9edf3;
  --c-indigo-30: #dee3ea;
  --c-indigo-40: #ced6e0;
  --c-indigo-50: #b2becd;
  --c-indigo-60: #92a0b3;
  --c-indigo-70: #73849a;
  --c-indigo-80: #445b78;
  --c-indigo-90: #2d4665;
  --c-indigo-100: #001a3a;
  --c-green-0: #f1fdf5;
  --c-green-10: #deffe7;
  --c-green-20: #c7fbd5;
  --c-green-30: #a7f1bb;
  --c-green-40: #80e89d;
  --c-green-50: #62e085;
  --c-green-60: #4ada71;
  --c-green-70: #2dd55b;
  --c-green-80: #17c948;
  --c-green-90: #00ba33;
  --c-green-100: #00a52d;
  --c-lime-0: #f5fff0;
  --c-lime-10: #ebfee3;
  --c-lime-20: #ddfcd0;
  --c-lime-30: #cffbbc;
  --c-lime-40: #bbf9a2;
  --c-lime-50: #a3f581;
  --c-lime-60: #8bf35f;
  --c-lime-70: #64ec44;
  --c-lime-80: #4ddf2b;
  --c-lime-90: #3ad515;
  --c-lime-100: #27c100;
  --c-lavender-0: #f7f8ff;
  --c-lavender-10: #e6ebff;
  --c-lavender-20: #ced9ff;
  --c-lavender-30: #b6c6ff;
  --c-lavender-40: #9fb5ff;
  --c-lavender-50: #8aa4ff;
  --c-lavender-60: #7493ff;
  --c-lavender-70: #597eff;
  --c-lavender-80: #3c67ff;
  --c-lavender-90: #194bfd;
  --c-lavender-100: #0033e8;
  --c-purple-0: #f4f4ff;
  --c-purple-10: #e9eaff;
  --c-purple-20: #d0d2ff;
  --c-purple-30: #b6b9f9;
  --c-purple-40: #9a99fc;
  --c-purple-50: #8482fb;
  --c-purple-60: #786df9;
  --c-purple-70: #6e5afd;
  --c-purple-80: #6030ff;
  --c-purple-90: #4712fb;
  --c-purple-100: #3400e6;
  --c-pink-0: #ffeff5;
  --c-pink-10: #ffe3ed;
  --c-pink-20: #ffd8e5;
  --c-pink-30: #ffc9db;
  --c-pink-40: #ffb6d0;
  --c-pink-50: #ff99bd;
  --c-pink-60: #ff80ac;
  --c-pink-70: #ff6098;
  --c-pink-80: #fb4082;
  --c-pink-90: #ec216a;
  --c-pink-100: #da0d56;
  --c-red-0: #fff1f3;
  --c-red-10: #ffe6e8;
  --c-red-20: #ffcfd3;
  --c-red-30: #feb7bc;
  --c-red-40: #fc9aa2;
  --c-red-50: #f9838c;
  --c-red-60: #f56570;
  --c-red-70: #f24c58;
  --c-red-80: #ef3442;
  --c-red-90: #e21827;
  --c-red-100: #d0000f;
  --c-orange-0: #fff5f0;
  --c-orange-10: #ffede6;
  --c-orange-20: #ffdfd1;
  --c-orange-30: #ffd0bc;
  --c-orange-40: #ffc0a5;
  --c-orange-50: #ffaf8c;
  --c-orange-60: #ff9b70;
  --c-orange-70: #ff8753;
  --c-orange-80: #ff7336;
  --c-orange-90: #ff5b13;
  --c-orange-100: #eb4700;
  --c-yellow-0: #fffbef;
  --c-yellow-10: #fff8e2;
  --c-yellow-20: #fff4d1;
  --c-yellow-30: #ffefbd;
  --c-yellow-40: #ffe9a3;
  --c-yellow-50: #ffe080;
  --c-yellow-60: #ffd75a;
  --c-yellow-70: #ffce31;
  --c-yellow-80: #ffc409;
  --c-yellow-90: #f4b100;
  --c-yellow-100: #eaa100;
  --c-aqua-0: #f0fff9;
  --c-aqua-10: #e6fff6;
  --c-aqua-20: #ceffed;
  --c-aqua-30: #b7fce3;
  --c-aqua-40: #93f9d5;
  --c-aqua-50: #79f5c9;
  --c-aqua-60: #59f0ba;
  --c-aqua-70: #38e9aa;
  --c-aqua-80: #1ae19a;
  --c-aqua-90: #00d287;
  --c-aqua-100: #00ba78;
  --c-teal-0: #eefeff;
  --c-teal-10: #dffdff;
  --c-teal-20: #d0fdff;
  --c-teal-30: #bbfcff;
  --c-teal-40: #a2fcff;
  --c-teal-50: #8bfbff;
  --c-teal-60: #73f6fb;
  --c-teal-70: #55ecf2;
  --c-teal-80: #35e2e9;
  --c-teal-90: #1bd2d9;
  --c-teal-100: #00b9c0;
  --c-cyan-0: #f3faff;
  --c-cyan-10: #e8f5ff;
  --c-cyan-20: #d3ecff;
  --c-cyan-30: #bfe4ff;
  --c-cyan-40: #a7daff;
  --c-cyan-50: #8dcfff;
  --c-cyan-60: #77c6ff;
  --c-cyan-70: #62bdff;
  --c-cyan-80: #46b1ff;
  --c-cyan-90: #24a3ff;
  --c-cyan-100: #0091fa;
}

:root {
  --mdoc-header-height: 64px;
  --mdoc-padd-sm: 16px;
  --mdoc-padd-md: 20px;
  --mdoc-padd-lg: 24px;
  --mdoc-padd-xl: 40px;
  --mdoc-base-radius: 0.5rem;
  --mdoc-lg-radius: 0.7rem;
  --mdoc-hover-overlay: hsla(0, 0%, 100%, 0.05);
  --mdoc-transition-fast: 200ms;
  --mdoc-transition-slow: 400ms;
  --mdoc-transition-timing-default: cubic-bezier(0.08, 0.52, 0.52, 1);
  --mdoc-shadow-lw: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --mdoc-shadow-md: 0 5px 40px rgba(0, 0, 0, 0.2);
  --mdoc-shadow-tl: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --mdoc-icon-arrow: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOSA1IDUgMSAxIDUiIHN0cm9rZT0iIzAzMDYwQiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==');

  --mdoc-font-size-base: 100%;
  --mdoc-line-height-base: 1.65;
  --mdoc-font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,
    sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --mdoc-menu-width: 300px;
}

:root {
  @media (max-width: 1680px) {
    --mdoc-menu-width: 240px;
  }
}

html {
  --mdoc-background-color: #f6f8fc;
  --mdoc-font-color-base: var(--c-carbon-90);
  --mdoc-link-color: var(--c-blue-90);
  --mdoc-navbar-color: var(--c-carbon-100);
  --mdoc-navbar-link-color: var(--c-black);
  --mdoc-hover-base-color: rgba(0, 0, 0, 0.1);
  --mdoc-menu-color: var(--c-gray-70);
  --mdoc-menu-category-color: var(--c-gray-100);
  --mdoc-menu-color-background-active: var(--c-blue-0);
  --mdoc-header-background-color: #f6f8fc07;
  --mdoc-border-color: #f3f3f3;
  --mdoc-md-wrapper-background-color: var(--c-white);
  --mdoc-md-table-border-color: #f1f4f8;
  --mdoc-md-text-color: var(--c-gray-90);
  --mdoc-md-code-color: #58727e;
  --mdoc-md-code-background-color: #f7f8fa;
  --mdoc-md-quote-background-color: #fff7d7;
  --mdoc-md-quote-border-color: #ffdc48;
  --mdoc-previewer-tabs-text-color: #001e3c;
  --mdoc-scrollbar-background: #dfe4ee;
  --mdoc-prism-color: #393a34;
  --bar-active-color: var(--c-blue-30);
}

html[data-theme='dark'] {
  --mdoc-background-color: #1c1c1d;
  --mdoc-font-color-base: var(--c-carbon-10);
  --mdoc-navbar-color: var(--c-gray-0);
  --mdoc-navbar-link-color: var(--c-white);
  --mdoc-hover-base-color: rgba(255, 255, 255, 0.1);
  --mdoc-menu-color: var(--c-gray-20);
  --mdoc-menu-category-color: var(--c-gray-0);
  --mdoc-menu-color-background-active: var(--mdoc-hover-overlay);
  --mdoc-header-background-color: #1c1c1d35;
  --mdoc-border-color: #444444;
  --mdoc-md-wrapper-background-color: #333;
  --mdoc-md-table-border-color: var(--mdoc-border-color);
  --mdoc-md-text-color: #ccc;
  --mdoc-md-code-color: #cdcdcd;
  --mdoc-md-code-background-color: #272727;
  --mdoc-md-quote-background-color: #2f2f2f;
  --mdoc-md-quote-border-color: #776102;
  --mdoc-previewer-tabs-text-color: #fff;
  --mdoc-scrollbar-background: #333;
  --mdoc-prism-color: #ddd;
  --bar-active-color: var(--c-carbon-70);
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  tab-size: 4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--mdoc-background-color);
  color: var(--mdoc-font-color-base);
  font: var(--mdoc-font-size-base) / var(--mdoc-line-height-base) var(--mdoc-font-family-base);
}
