@import '../../common/style/var.less';

.doc-menu {
  min-width: var(--mdoc-menu-width);
  max-width: var(--mdoc-menu-width);
  position: fixed;
  top: @van-doc-header-top-height + 20px;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 0 0 24px;
  overflow-y: scroll;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    &-track {
      background: 0 0;
    }
    &-thumb {
      background: var(--scrollbar-background);
      background-clip: content-box;
      border: var(--scrollbar-padding) solid #0000;
      border-radius: var(--scrollbar-radius);
    }
  }

  &__group {
    margin-bottom: 16px;
    padding: 0 10px;
  }
  &__item {
    margin: 12px 0;
    overflow: hidden;

    &:hover,
    &--active {
      background-color: var(--mdoc-menu-color-background-active);
      border-radius: var(--mdoc-base-radius);
      .doc-menulink {
        color: var(--c-blue-100);
      }
    }
  }
  &__title {
    padding: 8px 0 8px @van-doc-padding;
    color: var(--mdoc-menu-category-color);
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }
}
