@import '../../common/style/var.less';

.doc-menu {
  min-width: @van-doc-nav-width;
  max-width: @van-doc-nav-width;
  position: fixed;
  top: @van-doc-header-top-height;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 12px 0 24px;
  overflow-y: scroll;
  box-sizing: border-box;

  &::-webkit-scrollbar-track {
    background: 0 0;
  }
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--mdoc-scrollbar-background);
    background-clip: content-box;
    border: 4px solid #0000;
    border-radius: 8px;
  }
  &__group {
    margin-bottom: 16px;
    padding: 0 10px;
  }
  &__item {
    margin: 12px 0;
    overflow: hidden;

    &:hover,
    &--active {
      background-color: var(--mdoc-menu-color-background-active);
      border-radius: var(--mdoc-base-radius);
      .doc-menulink {
        color: var(--c-blue-100);
      }
    }
  }
  &__title {
    padding: 8px 0 8px @van-doc-padding;
    color: var(--mdoc-menu-category-color);
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }
}
