.App {
  display: flex;
}

.prism-code {
  max-width: 100%;
  overflow-x: auto;
  padding: 15px;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 16px;
  color: #323232;
}

.demo {
  width: 50vw;
  background: #282c34;
  color: #fff;
  padding: 20px;
}

pre {
  background-color: #f6f7f9 !important;
}
