.demo-image{background:#fff}.demo-image .text{margin-top:5px;color:#646566;font-size:14px;text-align:center}.demo-image .vant-doc-demo-block{padding:0 16px}.demo-image .vant-doc-demo-block__title{padding-left:0}
