@import '../../common/style/var.less';

.doc-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--mdoc-header-background-color);
  backdrop-filter: saturate(50%) blur(8px);
  z-index: 99;
  height: @van-doc-header-top-height;
  box-sizing: border-box;
  user-select: none;
  padding: 0 10px 0 @van-doc-padding;
}
